@{
    ViewData["Title"] = "Home Page";
}
              <link rel="stylesheet" href="~/css/stylegetallticket.css" />
            <section class="row">
            <div _ngcontent-qpt-c23="" class="col-sm-12"><div _ngcontent-qpt-c23="" class="content-header">
                <div class="fs-5">
                <i class="fa fa-address-card"></i>
                نظرات و پیشنهادات من 
                <span _ngcontent-qpt-c23="" class="float-right">
                </div>
                    <i _ngcontent-qpt-c23="" class="ft-chevron-left c-gray m-r-3 m-l-3 ripple cursor-pointer" placement="right"></i><i _ngcontent-qpt-c23="" class="ft-home c-gray m-r-3 m-l-3 ripple cursor-pointer" placement="right"></i></span></div><p _ngcontent-qpt-c23="" class="content-sub-header mt-3">در این صفحه میتوانید لیست پیشنهادات و نظرات خود را مشاهده کنید.</p><hr _ngcontent-qpt-c23="" class="m-t-0 m-b-0"></div>
            </section>
            <section class="row">
                <div class="mb-3 mx-3 col-12 col-md-6 col-lg-6 col-xl-4">
                    <label for="input-search" class="form-label">لیست نظرات من</label>
                    <div class="search-container">
                        <input  type="text" class="form-control input-search" id="input-search" placeholder="جست و جو...">
                        <i class="fa fa-search search-icon"></i>
                    </div>    
                </div>
            </section>



            <section class="ftco-section">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap">
                                <table class="table table-responsive-xl">
                                  <thead dir="rtl">
                                    <tr>
                                      <th>عنوان تیکت</th>
                                      <th>موضوع تیکت</th>
                                      <th>وضعیت</th>
                                      <th>سال </th>
                                      <th>کد تیکت </th>
                                      <th>زمان ثبت نظر</th>
                                    </tr>
                                  </thead>
                                  <tbody sgs-ticket-section >

                                  </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </section>
    </section>
        <script src="~/js/jquery-3.5.1.min.js"></script>
     <script src="~/js/GetAllTicket-ajax.js"></script>

	







