@{
    ViewData["Title"] = "TicketConversation";
}
           <link rel="stylesheet" href="~/css/TicketConversation.css" />

            <section class="container-Conversation Ticketing">
            <section class="Ticketig-container">
                <div _ngcontent-qpt-c23="" class="col-sm-12">
                    <div _ngcontent-qpt-c23="" class="content-header">
                        <div class="fs-5">
                            <i class="fa fa-address-card"></i>
                            نظرات و پیشنهادات من
                            <span _ngcontent-qpt-c23="" class="float-right">
                        </div>
                        <i _ngcontent-qpt-c23="" class="ft-chevron-left c-gray m-r-3 m-l-3 ripple cursor-pointer" placement="right"></i><i _ngcontent-qpt-c23="" class="ft-home c-gray m-r-3 m-l-3 ripple cursor-pointer" placement="right"></i></span>
                    </div><p _ngcontent-qpt-c23="" class="content-sub-header mt-3">در این صفحه میتوانید لیست پیشنهادات و نظرات خود را مشاهده کنید.</p><hr _ngcontent-qpt-c23="" class="m-t-0 m-b-0">
                </div>

                <div class="row conversation-box">
                             <tbody sgs-ticket-section >

                              </tbody>




             <div class="row justify-content-start">
                <section class="col-8 col-md-6 col-lg-4 card-text-ticketconversation-store">
                    <a href="#" class="text-decoration-none d-block mb-4 margin-botton">
                        <section class="card bg-primary text-white border-none">
                            <section class="card-body">
                                <section class="d-flex justify-content-between">
                                    <section class="info-box-body">
                                        <p> شش  سس بب اا متن تیکت تستی </p>
                                    </section>
                                </section>
                            </section>
                            <section class="p-2 info-box-footer">
                                <i class="fas fa-clock mx-2"></i>
                                24:42
                            </section>
                        </section>
                    </a>
                </section>
             </div>
          
             
             <div class="row justify-content-end">
                <section class="col-8 col-md-6 col-lg-4 card-text-ticketconversation-admin justify-content-end">
                    <a href="#" class="text-decoration-none d-block mb-4 margin-botton">
                        <section class="card bg-gray text-white">
                            <section class="card-body">
                                <section class="d-flex justify-content-between">
                                    <section class="info-box-body">
                                        <p>متن تی ت تشیبشسیبشسیبشسبشنیتبک ت تستی </p>
                                    </section>

                                </section>
                            </section>
                            <section class="p-2 info-box-footer">
                                <i class="fas fa-clock mx-2"></i>
                                  24:42
                            </section>
                        </section>
                    </a>
                </section>
             </div>

             <div class="row justify-content-start">
                <section class="col-8 col-md-6 col-lg-4 card-text-ticketconversation-store">
                    <a href="#" class="text-decoration-none d-block mb-4 margin-botton">
                        <section class="card bg-primary text-white border-none">
                            <section class="card-body">
                                <section class="d-flex justify-content-between">
                                    <section class="info-box-body">
                                        <p>متن تیکت تستیت شستب تینت شیستبیکتبشیمتبشبتشیمستب کت تتشببشیتش </p>
                                    </section>
                                </section>
                            </section>
                            <section class="p-2 info-box-footer">
                                <i class="fas fa-clock mx-2"></i>
                                24:42
                            </section>
                        </section>
                    </a>
                </section>
             </div>
          
             
             <div class="row justify-content-end">
                <section class="col-8 col-md-6 col-lg-4 card-text-ticketconversation-admin justify-content-end">
                    <a href="#" class="text-decoration-none d-block mb-4 margin-botton">
                        <section class="card bg-gray text-white">
                            <section class="card-body">
                                <section class="d-flex justify-content-between">
                                    <section class="info-box-body">
                                        <p>متن تییسشببسیبسیسین تبنشسیتن تتن ت تشسیبتن تت شستب تینت شیستبیکتبشت ت تشکتشیتشبتسیمتبشبتشیمستب کت تتشببشیتشیکتشسیتبنیتبک ت تستی </p>
                                    </section>

                                </section>
                            </section>
                            <section class="p-2 info-box-footer">
                                <i class="fas fa-clock mx-2"></i>
                                  24:42
                            </section>
                        </section>
                    </a>
                </section>
             </div>
             <div class="row justify-content-end">
                <section class="col-8 col-md-6 col-lg-4 card-text-ticketconversation-admin justify-content-end">
                    <a href="#" class="text-decoration-none d-block mb-4 margin-botton">
                        <section class="card bg-gray text-white">
                            <section class="card-body">
                                <section class="d-flex justify-content-between">
                                    <section class="info-box-body">
                                        <p>متن تییسشببسیبسیسین تبنشسیتن تتن ت تشسیبتن تت شستب تینت شیستبیکتبشت ت تشکتشیتشبتسیمتبشبتشیمستب کت تتشببشیتشیکتشسیتبنیتبک ت تستی </p>
                                    </section>

                                </section>
                            </section>
                            <section class="p-2 info-box-footer">
                                <i class="fas fa-clock mx-2"></i>
                                  24:42
                            </section>
                        </section>
                    </a>
                </section>
             </div>
                             


                              

                 <!-- <div style="height: 90px;" class="col align-self-end">
                   .
                  </div> -->
                <div class=" send-ticketconversation-parent">
                    <section class="sendIcon-Input-parent">
                        <input  type="text" class="form-control input-search" id="input-search" placeholder="پاسخ خود را بنویسید...">
                        <i onclick="SendTicket()" class="fa fa-send send-icon"></i>  
                    </section>  
                </div>
     

            </div>
    
            </section>
        </section>

 @*<script src="~/js/GetAllTicketConversations.js"></script>*@
 <script src="~/js/TicketConversation.js"></script>
 